// colors
$bg-color: #f8f8f8;
$shape-color: #000000;

// mixins
@mixin center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

@mixin pseudo($position: absolute, $content: "") {
    content: $content;
    position: $position;
}

@mixin square($width,$height,$background) {
  width: $width;
  height: $height;
  background: $background;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background: $bg-color;
  overflow: hidden;
}

.the-rock{
  @include center;
  
  .head{
    @include center;
    top: -50vmin;
    left: -4vmin;
    width: 30vmin;
    height: 16vmin;
    background: $shape-color;
    border-radius: 42% 58% 50% 50% / 100% 100% 0% 0%;

    &:before{
      @include pseudo;
      top: 3.8vmin;
      left: 14.4vmin;
      width: 10vmin;
      height: 5.2vmin;
      background: $bg-color;
      border-top-right-radius: 6vmin;
      transform: rotate(-18deg) skewY(5deg);
    }  

    &:after{
      @include pseudo;
      top: 3.8vmin;
      left: 1.8vmin;
      width: 20vmin;
      height: 12.2vmin;
      background: $bg-color;
      border-top-left-radius: 7vmin;
      border-top-right-radius: 8vmin;
    }
  }

  .head-2{
    @include center;
    top: -56.25vmin;
    width: 5vmin;
    height: 2vmin;
    background: $bg-color;
    transform: rotate(-2deg);

    &:before{
      @include pseudo;
      top: 3vmin;
      left: -13.5vmin;
      width: 16vmin;
      height: 18vmin;
      background: $bg-color;
      border-top-left-radius: 10vmin;
      border-top-right-radius: 3vmin;
      transform: rotate(-74deg);
    }  

    &:after{
      @include pseudo;
      top: 7.2vmin;
      left: -14.4vmin;
      width: 5vmin;
      height: 8vmin;
      background: $bg-color;
      border-top-left-radius: 0vmin;
      transform: rotate(15deg);
    }
  }

  .head-3{
    @include center;
    top: -46.5vmin;
    left: 10.4vmin;
    width: 4vmin;
    height: 2.8vmin;
    background: $shape-color;
    border-top-left-radius: 2vmin;
    border-bottom-left-radius: 2.5vmin;
    transform: rotate(-10deg);

    &:before{
      @include pseudo;
      top: 0.3vmin;
      left: -9vmin;
      width: 10vmin;
      height: 8vmin;
      background: $bg-color;
      border-top-right-radius: 2vmin;
      transform: rotate(18deg);
    }

    &:after{
      @include pseudo;
      top: 3vmin;
      left: 0.6vmin;
      width: 8vmin;
      height: 8vmin;
      background: $shape-color;
      border-top-right-radius: 4vmin;
      border-bottom-right-radius: 2vmin;
      border-bottom-left-radius: 1.4vmin;
      transform: rotate(18deg);
    }
  }

  .head-4{
    @include center;
    top: -33vmin;
    left: 29vmin;
    width: 5.5vmin;
    height: 5.5vmin;
    border-top-left-radius: 4vmin;
    background: $bg-color;
    transform: rotate(-38deg);

    &:before{
      @include pseudo;
      top: -0.8vmin;
      left: -9.3vmin;
      width: 8vmin;
      height: 10vmin;
      background: $shape-color;
      transform: rotate(28.5deg);
    }

    &:after{
      @include pseudo;
      top: -2.2vmin;
      left: -7.3vmin;
      width: 1.5vmin;
      height: 2.1vmin;
      background: $bg-color;
      border-top-right-radius: 1vmin;
      border-bottom-right-radius: 1vmin;
      transform: rotate(28.5deg);
    }
  }

  .head-5{
    @include center;
    top: -13vmin;
    left: 27.1vmin;
    width: 2vmin;
    height: 2.5vmin;
    border-top-left-radius: 1.2vmin;
    background: $bg-color;

    &:before{
      @include pseudo;
      top: 1.35vmin;
      left: -10.5vmin;
      width: 9vmin;
      height: 0.6vmin;
      background: $bg-color;
      transform: skewX(20deg);
    }  

    &:after{
      @include pseudo;
      top: -0.6vmin;
      left: -9vmin;
      width: 0;
      height: 0;
      border-bottom: 3vmin solid $shape-color;
      border-left: 0.8vmin solid transparent;
      border-right: 1.1vmin solid transparent;
      transform: rotate(-115deg) skewX(-10deg);
    }
  }

  .eye-right{
    @include center;
    top: -20.6vmin;
    left: 2.7vmin;
    width: 7.8vmin;
    height: 2.9vmin;
    border-top-right-radius: 0.2vmin;
    background: $shape-color;
    transform: rotate(-17deg);

    &:before{
      @include pseudo;
      top: 2.9vmin;
      left: 6.5vmin;
      width: 1.6vmin;
      height: 1.8vmin;
      background: $bg-color;
      border-bottom-right-radius: 1.5vmin;
      transform: skewX(20deg) rotate(-3deg);
    }  

    &:after{
      @include pseudo;
      top: 2.6vmin;
      left: 5.2vmin;
      width: 3.2vmin;
      height: 1.8vmin;
      background: $shape-color;
      border-radius: 0% 100% 70% 30% / 0% 0% 100% 100%;
      transform: skewX(20deg) rotate(-10deg);
    }
  }

  .eye-right-2{
    @include center;
    top: -19.2vmin;
    left: 2.9vmin;
    width: 3vmin;
    height: 2.5vmin;
    background: $shape-color;
    transform: rotate(-45deg);

    &:before{
      @include pseudo;
      top: 0.4vmin;
      left: -0.35vmin;
      width: 0.4vmin;
      height: 3vmin;
      background: $shape-color;
      transform: rotate(-30deg) skewY(-10deg);
    } 

    &:after{
      @include pseudo;
      top: -4.7vmin;
      left: -0.5vmin;
      width: 2vmin;
      height: 5vmin;
      background: $shape-color;
      transform: rotate(35deg) skewX(10deg);
    }
  }

  .eye-right-3{
    @include center;
    top: -25.95vmin;
    width: 4vmin;
    height: 3vmin;
    background: $bg-color;
    border-bottom-left-radius: 1vmin;
    transform: rotate(-18deg);

    &:before{
      @include pseudo;
      top: -0.5vmin;
      left: -2.8vmin;
      width: 2vmin;
      height: 4.8vmin;
      background: $bg-color;
      border-top-right-radius: 0.6vmin;
      border-bottom-right-radius: 0.2vmin;
      transform: rotate(8deg) skewX(-5deg);
    }  

    &:after{
      @include pseudo;
      top: 4vmin;
      left: -3.2vmin;
      width: 2vmin;
      height: 2vmin;
      background: $bg-color;
      transform: rotate(-12deg) skewX(-10deg);
    }
  }

  .eye-right-4{
    @include center;
    top: -15.6vmin;
    left: -5vmin;
    width: 2vmin;
    height: 1.1vmin;
    background: $bg-color;
    transform: rotate(-25deg) skewX(10deg);

    &:before{
      @include pseudo;
      top: 1vmin;
      left: 2vmin;
      width: 2.5vmin;
      height: 1vmin;
      background: $shape-color;
      transform: rotate(5deg);
    }
  }

  .eye-left{
    @include center;
    z-index: 3;
    top: -21vmin;
    left: -12vmin;
    width: 4.8vmin;
    height: 5.5vmin;
    background: $shape-color;
    border-top-right-radius: 0.6vmin;
    border-bottom-right-radius: 60%;
    transform: skewX(10deg);

    &:before{
      @include pseudo;
      top: -1vmin;
      left: -5.2vmin;
      width: 10vmin;
      height: 4vmin;
      background: $bg-color;
      border-bottom-right-radius: 3vmin;
      transform: skewX(15deg) skewY(-6deg);
    }

    &:after{
      @include pseudo;
      top: 3.2vmin;
      left: 0.6vmin;
      width: 3.7vmin;
      height: 3.4vmin;
      background: $shape-color;
      border-top-left-radius: 1vmin;
      border-bottom-right-radius: 3vmin;
      transform: rotate(10deg) skewX(3deg) skewY(0deg);
    }
  }

  .eye-left-2{
    @include center;
    z-index: 3;
    top: -13.3vmin;
    left: -12.8vmin;
    width: 2vmin;
    height: 1vmin;
    background: $bg-color;
    transform: skewX(24deg) skewY(15deg) rotate(20deg);

    &:before{
      @include pseudo;
      top: -0.65vmin;
      left: -2.1vmin;
      width: 1.8vmin;
      height: 3.3vmin;
      background: $shape-color;
      border-top-left-radius: 100%;
      border-bottom-right-radius: 35%;
      border-bottom-left-radius: 1vmin;
      transform: rotate(5deg) skewX(-18deg);
    }  

    &:after{
      @include pseudo;
      top: 3vmin;
      left: -5.3vmin;
      width: 4vmin;
      height: 0.75vmin;
      background: $shape-color;
      border-top-left-radius: 100%;
      transform: rotate(-43deg) skewX(-24deg) skewY(-15deg);
    }
  }

  .eye-left-3{
    @include center;  
    top: -19.5vmin;
    left: -20vmin;
    width: 3.8vmin;
    height: 2vmin;
    background: $shape-color;
    transform: skewX(10deg) skewY(-5deg);

    &:before{
      @include pseudo;
      top: 0.4vmin;
      left: -1.6vmin;
      width: 2vmin;
      height: 1vmin;
      background: $shape-color;
      transform: skewX(20deg) skewY(-10deg);
    }  

    &:after{
      @include pseudo;
      top: 0.1vmin;
      left: -2.1vmin;
      width: 2vmin;
      height: 1vmin;
      background: $bg-color;
      transform: skewX(20deg) skewY(-22deg);
    }
  }

  .eye-left-4{
    @include center;
    top: -15.2vmin;
    left: -25vmin;
    width: 0.8vmin;
    height: 5.4vmin;
    background: $shape-color;
    transform: rotate(43deg) skewY(-30deg);

    &:before{
      @include pseudo;
      top: 0.4vmin;
      left: 0.4vmin;
      width: 0.5vmin;
      height: 2.4vmin;
      background: $shape-color;
      transform: rotate(12deg) skewY(-50deg);
    }

    &:after{
      @include pseudo;
      top: 1.2vmin;
      left: -0.9vmin;
      width: 1vmin;
      height: 5vmin;
      background: $shape-color;
      border-top-right-radius: 100%;
      transform: rotate(-26deg) skewY(-60deg);
    }
  }

  .eye-left-5{
    @include center;
    top: -16.2vmin;
    left: -27.4vmin;
    width: 0.7vmin;
    height: 2vmin;
    background: $bg-color;
    transform: rotate(-8deg) skewY(-38deg);

    &:before{
      @include pseudo;
      top: -0.6vmin;
      left: -0.5vmin;
      width: 1vmin;
      height: 1vmin;
      background: $bg-color;
      transform: skewY(38deg);
    }
  }

  .nose{
    @include center;
    z-index: 1;
    top: -9.9vmin;
    left: 0.8vmin;
    width: 2.5vmin;
    height: 7vmin;
    background: $shape-color;
    transform: rotate(-5deg) skewY(-20deg);

    &:before{
      @include pseudo;
      top: 1.45vmin;
      left: 1.45vmin;
      width: 2.5vmin;
      height: 5vmin;
      background: $bg-color;
      border-top-left-radius: 1.6vmin;
      border-bottom-left-radius: 3vmin;
      transform: skewY(35deg);
    }  

    &:after{
      @include pseudo;
      top: 6vmin;
      left: 2.4vmin;
      width: 1vmin;
      height: 3vmin;
      background: $shape-color;
      transform: rotate(-29deg);
    }
  }

  .nose-2{
    @include center;
    z-index: 4;
    top: 5.5vmin;
    left: 6vmin;
    width: 7.2vmin;
    height: 6.5vmin;
    background: $shape-color;
    border-top-left-radius: 3vmin;
    transform: rotate(20deg);


    &:before{
      @include pseudo;
      top: -6vmin;
      left: 1.7vmin;
      width: 3.8vmin;
      height: 9vmin;
      background: $bg-color;
      border-top-left-radius: 25vmin;
      transform: rotate(-60deg) skewY(-25deg);
    }

    &:after{
      @include pseudo;
      top: -0.1vmin;
      width: 2vmin;
      height: 2.2vmin;
      background: $bg-color;
      border-bottom-right-radius: 0.8vmin;
      border-top-right-radius: 1vmin;
      transform: rotate(20deg);
    }
  }

  .nose-3{
    @include center;
    z-index: 2;
    top: 5.4vmin;
    left: -3vmin;
    width: 0;
    height: 0;
    border-bottom: 2.6vmin solid $shape-color;
    border-left: 2.9vmin solid transparent;
    border-right: 2.8vmin solid transparent;
    transform: rotate(-68deg) skewY(-10deg) skewX(5deg);

    &:before{
      @include pseudo;
      top: -3.4vmin;
      left: -2vmin;
      width: 3.3vmin;
      height: 4vmin;
      background: $shape-color;
      border-bottom-left-radius: 1vmin;
      transform: rotate(44deg);
    }  

    &:after{
      @include pseudo;
      top: -4vmin;
      left: -1.1vmin;
      width: 5vmin;
      height: 4vmin;
      background: $bg-color;
      border-bottom-left-radius: 1vmin;
      border-bottom-right-radius: 1.3vmin;
      transform: rotate(65deg);
    }
  }

  .mouth{
    @include center;
    top: 16.2vmin;
    left: 2.8vmin;
    width: 6vmin;
    height: 2.5vmin;
    background: $shape-color;
    transform: rotate(-8deg) skewX(4deg);

    &:before{
      @include pseudo;
      top: 1.2vmin;
      left: -1.2vmin;
      width: 2vmin;
      height: 1.3vmin;
      background: $shape-color;
      transform: skewY(-5deg);
    }  

    &:after{
      @include pseudo;
      top: 1.2vmin;
      left: -4.5vmin;
      width: 4.2vmin;
      height: 1.5vmin;
      background: $shape-color;
      border-top-left-radius: 10vmin;
      border-top-right-radius: 10vmin;
      transform: skewY(-8deg) skewX(-30deg);
    }
  }

  .mouth-2{
    @include center;
    z-index: 2;
    top: 17vmin;
    left: 4.8vmin;
    width: 4.5vmin;
    height: 2vmin;
    background: $shape-color;

    &:before{
      @include pseudo;
      top: 2vmin;
      left: 2.9vmin;
      width: 2vmin;
      height: 5vmin;
      background: $shape-color;
      transform: rotate(2deg);
    }

    &:after{
      @include pseudo;
      top: 2.4vmin;
      left: 1.4vmin;
      width: 1.6vmin;
      height: 4.2vmin;
      background: $shape-color;
      border-top-left-radius: 12vmin;
      transform: skewX(-2deg) skewY(-20deg);
    }
  }

  .mouth-3{
    @include center;
    z-index: 3;
    top: 27vmin;
    left: 1.4vmin;
    width: 6vmin;
    height: 2.5vmin;
    background: $shape-color;
    border-bottom-left-radius: 100%;
    transform: skewX(45deg) skewY(-8deg);

    &:before{
      @include pseudo;
      top: -1.8vmin;
      left: 9.7vmin;
      width: 7.2vmin;
      height: 6vmin;
      background: $shape-color;
      border-top-right-radius: 12vmin;
      border-bottom-left-radius: 5vmin;
      transform: rotate(-0.5deg) skewX(-70deg) skewY(8deg);
    }
  }

  .ear-right{
    @include center;
    z-index: 2;
    top: -11.8vmin;
    left: 31.5vmin;
    width: 3vmin;
    height: 8.5vmin;
    background: $shape-color;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    transform: skewX(2deg) skewY(-30deg);

    &:before{
      @include pseudo;
      top: 7.8vmin;
      width: 1.8vmin;
      height: 3vmin;
      background: $shape-color;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 20%;
      transform: skewY(-20deg);
    }  

    &:after{
      @include pseudo;
      top: 8.2vmin;
      left: 1.4vmin;
      width: 1vmin;
      height: 1.8vmin;
      background: $bg-color;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      transform: skewY(20deg);
    }
  }

  .ear-right-2{
    @include center;
    z-index: 2;
    top: -1vmin;
    left: 31.4vmin;
    width: 1.35vmin;
    height: 1.4vmin;
    border-top-right-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    background: $shape-color;

    &:before{
      @include pseudo;
      top: 1.3vmin;
      left: -1.3vmin;
      width: 0.8vmin;
      height: 2vmin;
      background: $bg-color;
      transform: rotate(-10deg);
    }
  }

  .cheek{
    @include center;
    z-index: 3;
    top: -2vmin;
    left: 18.5vmin;
    width: 7vmin;
    height: 10vmin;
    background: $shape-color;
    transform: skewX(2deg);

    &:before{
      @include pseudo;
      top: -0.2vmin;
      left: -3.6vmin;
      width: 7vmin;
      height: 9.7vmin;
      background: $bg-color;
      border-top-right-radius: 0.6vmin;
      border-bottom-left-radius: 100%;
      transform: skewX(-27deg);
    }

    &:after{
      @include pseudo;
      top: -0.45vmin;
      left: 6.16vmin;
      width: 1vmin;
      height: 4vmin;
      border-top-right-radius: 60%;
      border-bottom-right-radius: 70%;
      background: $shape-color;
      transform: rotate(3deg);
    }
  }

  .cheek-2{
    @include center;
    z-index: 3;
    top: 18vmin;
    left: 17.45vmin;
    width: 9vmin;
    height: 11vmin;
    background: $shape-color;
    border-bottom-right-radius: 75%;
    transform: skewX(4deg);

    &:before{
      @include pseudo;
      top: -4vmin;
      left: -17.2vmin;
      width: 2vmin;
      height: 12vmin;
      background: $shape-color;
      transform: rotate(-14deg) skewY(-10deg);
    }  

    &:after{
      @include pseudo;
      top: -4.8vmin;
      left: -16.2vmin;
      width: 2vmin;
      height: 12vmin;
      background: $bg-color;
      transform: rotate(-20deg) skewY(-15deg) skewX(1.8deg);
    }
  }

  .cheek-3{
    @include center;
    top: 27.5vmin;
    left: -18.5vmin;
    width: 2vmin;
    height: 6.2vmin;
    background: $shape-color;
    border-bottom-right-radius: 2vmin;
    border-bottom-left-radius: 2vmin;
    transform: rotate(-23deg) skewX(1.8deg);
  }

  .neck{
    @include center;
    z-index: 2;
    top: 28.6vmin;
    left: 18.8vmin;
    width: 11.8vmin;
    height: 10vmin;
    background: $shape-color;
    border-top-left-radius: 100%;
    transform: skewX(3deg);

    &:before{
      @include pseudo;
      top: 4.4vmin;
      left: 1vmin;
      width: 2vmin;
      height: 2vmin;
      background: $shape-color;
      transform: skewX(-12deg);
    }  

    &:after{
      @include pseudo;
      right: 1vmin;
      width: 6vmin;
      height: 7.2vmin;
      background: $bg-color;
      border-bottom-right-radius: 85%;
      transform: skewX(-15deg);
    }
  }

  .neck-2{
    @include center;
    top: 32vmin;
    left: 15vmin;
    z-index: 3;
    width: 2vmin;
    height: 3vmin;
    background: $shape-color;
    transform: skewX(-30deg);

    &:before{
      @include pseudo;
      top: -1.7vmin;
      left: -14.6vmin;
      width: 1.4vmin;
      height: 3.6vmin;
      background: $shape-color;
      border-top-right-radius: 2.5vmin;
      border-bottom-right-radius: 2.5vmin;
      transform: skew(30deg) rotate(-22deg);
    }

    &:after{
      @include pseudo;
      top: 1vmin;
      left: -10.2vmin;
      width: 11vmin;
      height: 6.2vmin;
      background: $shape-color;
      transform: rotate(-5deg) skewX(40deg);
    }
  }

  .neck-3{
    @include center;
    z-index: 3;
    top: 34.4vmin;
    left: -7.6vmin;
    width: 4.2vmin;
    height: 4.2vmin;
    background: $bg-color;
    border-top-left-radius: 1.2vmin;
    border-bottom-left-radius: 4vmin;
    transform: rotate(-4deg);

    &:before{
      @include pseudo;
      left: 3.6vmin;
      width: 2vmin;
      height: 4vmin;
      background: $bg-color;
      transform: skewX(10deg) skewY(-10deg);
    }

    &:after{
      @include pseudo;
      top: 0.5vmin;
      left: 5vmin;
      width: 5.3vmin;
      height: 3.5vmin;
      background: $bg-color;
      border-bottom-right-radius: 4vmin;
      transform: skewX(-10deg);
    }
  }

  .neck-4{
    @include center;
    z-index: 3;
    top: 55vmin;
    left: 13vmin;
    width: 23vmin;
    height: 16.5vmin;
    background: $shape-color;

    &:before{
      @include pseudo;
      top: -0.9vmin;
      left: 20.8vmin;
      width: 3vmin;
      height: 4vmin;
      background: $shape-color;
      border-top-right-radius: 2vmin;
      transform: rotate(18deg) skewY(10deg);
    }

    &:after{
      @include pseudo;
      top: 3vmin;
      left: 22.3vmin;
      width: 2vmin;
      height: 6vmin;
      background: $bg-color;
      transform: rotate(20deg);
    }
  }

  .neck-5{
    @include center;
    z-index: 3;
    top: 70vmin;
    left: 30vmin;
    width: 18vmin;
    height: 10vmin;
    background: $bg-color;
    transform: rotate(-45deg) skewY(-1deg);

    &:before{
      @include pseudo;
      top: -0.3vmin;
      left: 2.8vmin;
      width: 2vmin;
      height: 2vmin;
      background: $bg-color;
      transform: rotate(15deg);
    }

    &:after{
      @include pseudo;
      top: -7.8vmin;
      left: -3.5vmin;
      width: 8.5vmin;
      height: 6vmin;
      background: $bg-color;
      transform: rotate(75deg);
    }
  }

  .neck-6{
    @include center;
    z-index: 3;
    left: 12.8vmin;
    top: 70.5vmin;
    width: 2vmin;
    height: 2vmin;
    background: $bg-color;
    transform: rotate(-30deg);

    &:before{
      @include pseudo;
      top: -5vmin;
      left: -4vmin;
      width: 9.4vmin;
      height: 3vmin;
      background: $shape-color;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      transform: rotate(62deg);
    }

    &:after{
      @include pseudo;
      top: -14.3vmin;
      left: -9vmin;
      width: 8.5vmin;
      height: 12.5vmin;
      background: $bg-color;
      border-top-right-radius: 10vmin;
      transform: rotate(20deg) skewY(20deg);
    }
  }

  .neck-7{
    @include center;
    z-index: 2;
    top: 43.8vmin;
    left: -11.8vmin;
    width: 15vmin;
    height: 2.1vmin;
    background: $shape-color;
    border-top-left-radius: 70%;
    transform: rotate(40deg) skewY(12deg);

    &:before{
      @include pseudo;
      top: -5.6vmin;
      left: 3vmin;
      width: 0.6vmin;
      height: 12vmin;
      background: $bg-color;
      transform: rotate(-100deg);
    }

    &:after{
      @include pseudo;
      top: -1vmin;
      left: 7.2vmin;
      width: 2vmin;
      height: 2vmin;
      background: $shape-color;
      transform: rotate(15deg);
    }    
  }

  .neck-8{
    @include center;
    z-index: 3;
    top: 35vmin;
    left: -21.4vmin;
    width: 1.3vmin;
    height: 3vmin;
    background: $shape-color;
    transform: skewX(8deg) skewY(45deg);

    &:before{
      @include pseudo;
      top: 3vmin;
      width: 1.3vmin;
      height: 14.7vmin;
      border-bottom-right-radius: 100%;
      background: $shape-color;
    }

    &:after{
      @include pseudo;
      top: 3.2vmin;
      left: 0.35vmin;
      width: 1vmin;
      height: 16vmin;
      background: $bg-color;
      border-top-left-radius: 100%;
      transform: rotate(-7deg) skewX(-8deg) skewY(-65deg);
    }
  }

  .neck-9{
    @include center;
    z-index: 3;
    top: 56.8vmin;
    left: -21.3vmin;
    width: 1vmin;
    height: 10vmin;
    background: $shape-color;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 60%;
    transform: rotate(-12deg);

    &:before{
      @include pseudo;
      top: 8.9vmin;
      left: -0.3vmin;
      width: 1vmin;
      height: 2vmin;
      background: $bg-color;
      transform: rotate(-45deg);
    }

    &:after{
      @include pseudo;
      top: 1.6vmin;
      left: 0.4vmin;
      width: 1vmin;
      height: 7vmin;
      background: $shape-color;
      transform: rotate(5deg);
    }
  }
}


